body {
    background-image: linear-gradient(90deg, rgb(176, 240, 217), rgb(167, 197, 238));
   

   
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5vh;
    font-family: 'Permanent Marker', cursive;
    
}
img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
}
.click:hover {
    color: yellow;
    font-size: 2.3rem;
}
h1 {
    font-size: 4rem;
}

.stylefont{
    font-family: 'Permanent Marker', cursive;
}
nav, .click {
    font-family: 'Courier Prime', monospace;
}


.rankings {
    width: 30vw;
    margin: auto;
    border: 1px solid white;
    padding: 2rem 4rem;
    
}
.header {
    padding-bottom: 13vh;
}
ol {
    font-family: 'Courier Prime', monospace;
}
.rankings h1 {
    font-size: 2.6vw;
    padding-bottom: 4vh;

   
}