body {
    background-image: linear-gradient(90deg, rgb(176, 240, 217), rgb(167, 197, 238));
   
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5vh;
    font-family: 'Courier Prime', monospace;
   
    
}
p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: rgb(5, 156, 10);
}


.stylefont{
    font-family: 'Permanent Marker', cursive;
}
nav, .click {
    font-family: 'Courier Prime', monospace;
}



.poke1, .poke2, .poke3, .poke4, .poke5 {
    font-family: 'Courier Prime', monospace ;
}
.pokecard {
    max-width: 16rem;
    width: 100%;
    height: auto;
    font-family: 'Courier Prime', monospace;
    
    border-radius: 5%;
    padding-right: 25px;
    margin: 5px;
    background-image: linear-gradient(180deg, rgb(209, 248, 255) 0%, rgb(255, 255, 255) 50%, rgb(218, 249, 255) 100%);
    
}
ul {
    list-style: none;
}
.cards {
    display: flex;
    justify-content: space-between;
    
}
.pokecard img {
    max-width: 150px;
    width: 100%;
    height: auto;
}
.save {
    font-family: 'Courier Prime', monospace ;
}
.save1 {
    margin-left: 10vw;
}


.save1 h1{
    font-size: 3rem;
}